{{/* Repo Card */}}
{{/* See https://github.com/anuraghazra/github-readme-stats#github-extra-pins */}}
{{ $options := slice "username" "repo" }}
{{ $options = $options | append (partial "github-readme-stats/common-options.html" .) }}

{{/* Repo Card Exclusive Options */}}
{{/* See https://github.com/anuraghazra/github-readme-stats#repo-card-exclusive-options */}}
{{ $options = $options | append "show_owner" }}

{{ $queryString := partial "github-readme-stats/query-string.html" (dict "params" . "options" $options) }}


<img
  {{ with .class }}class="{{ . }}"{{ end }}
  src="https://github-readme-stats.vercel.app/api/pin?{{ $queryString }}"
/>
