{{/* Wakatime Card */}}
{{/* See https://github.com/anuraghazra/github-readme-stats#top-languages-card */}}
{{ $options := slice "username" }}
{{ $options = $options | append (partial "github-readme-stats/common-options.html" .) }}

{{/* Wakatime Card Exclusive Options */}}
{{/* See https://github.com/anuraghazra/github-readme-stats#wakatime-card-exclusive-options */}}
{{ $options = $options | append "hide" "hide_title" "line_height" "hide_progress" "custom_title" "layout" "langs_count" "api_domain" "range" }}

{{ $queryString := partial "github-readme-stats/query-string.html" (dict "params" . "options" $options) }}


<img
  {{ with .class }}class="{{ . }}"{{ end }}
  src="https://github-readme-stats.vercel.app/api/wakatime?{{ $queryString }}"
/>
